---
import Layout from '../layouts/Layout.astro';
import TipoConteiner from '../components/SelectContainer.astro';
import HomeMain from '../components/home.astro';
import Project from "../components/projects.astro"
import SobreMi from "../components/sobreMi.astro"
---

<Layout title="Portfolio Geider - Desarrollador y Programador Web" description='Trabajo de manera contanste'>
	<main>
		<TipoConteiner id="inicio">
			<HomeMain></HomeMain>
		</TipoConteiner>
		
		<TipoConteiner id="proyectos" class="">
			<Project></Project>
		</TipoConteiner>
		<TipoConteiner id="sobre-mi" class="">
			<SobreMi></SobreMi>
			
		</TipoConteiner>
	</main>
</Layout>
<style>
	main{
		max-width: 700px;
		margin: 0 auto;
		/* border: 1px solid; */
	}
</style>