<header>
    <nav>
        <a href="#home">Inicio</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mi</a>
        <a href="#" class="btnDark">🌜</a>
    </nav>
</header>
<style>
    header{
        max-width: 800px;
        margin: 0 auto;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px 0;
        border: 1px solid black;
      
    }
    nav a{
        list-style: none;
        text-decoration: none;
        color: #050505;
        font-size: 20px;
        font-weight:500;
        cursor: pointer;
    }
    .btnDark{
        display: inline-block;
        padding: 5px;
        background-color: #050505;
        border-radius: 50%;
    }
</style>