---
import Code from "../icons/code.astro"
import Card from "../components/cardProject.astro"
---
<section>
    <div class="header__projects">
        <Code></Code>
        <h2>Proyectos</h2>
    </div>
    <div class="body__projects">
        <Card/>
    </div>
</section>

<style>
    section{
        padding: 10px;
    }
    .header__projects{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }
    .header__projects h2{
        font-size: 28px;
        font-weight: 700;
    }
    .body__projects{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(,1fr));
        justify-items: center;
        gap: 20px;
    }
    @media (max-width:650px) {
        /* .body__projects{
            grid-template-columns: 1fr;
            gap: 20px;
        } */
    }
    @media (max-width:400px) {
        .header__projects{
            justify-content: center;
        }

    }
</style>