---
import Code from "../icons/code.astro"
import Card from "../components/cardProject.astro"
---
<section>
    <div class="header__projects">
        <Code></Code>
        <h2>Proyectos</h2>
    </div>
    <div class="body__projects">
        <Card/>
    </div>
</section>

<style>
    section{
        padding: 10px;
    }
    .header__projects{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }
    .header__projects h2{
        font-size: 28px;
    }
    .body__projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 20px;
    }
</style>