---
const {id, class:className}= Astro.props
---
<section id={id} class={className}>
    <slot></slot>
</section>

<style>
    section{
        margin-bottom: 80px;
    }
    @media (max-width:400px) {
        section{
        margin-bottom: 40px;
        }
    }
</style>
