---
import User from "../icons/user.astro";
---
<section>
    <div class="content__titulo">
        <User></User>
        <h2>Sobre mi</h2>
    </div>
    <div class="content__body">
        <div class="body__detalles">
            <p> Me llamo <span class="c-primario">Geider Frias </span> y soy de Argentina. <span class="c-secundario">
                Me estoy formando en el mundo TI desde 2021 creando proyectos de alto valor</span>. Me especializo en el Desarrollo Web.
            </p>
            <p>Termine una tecnicatura de Videojuegos y empecé la tecnicatura de 
                <span class="c-secundario">Desarrollo de Software</span>. Ademas, estoy haciendo una carrera virtual de
                <span class="c-secundario"> Desarrollo Full Stack Web</span>.
            </p>
            <p>Habilidades que destaco, soy flexible a nuevos desafios, resuelvo problemas complejos y
               <span class="c-secundario"> organizo el desarrollo de los proyectos en pasos y tiempos</span>.
            </p>
        </div>
        <div class="body__img">
            <img src="/images/body.webp" alt="cuerpo completo">
        </div>
    </div>
</section>
<style>
    section{
        padding: 10px;
    }
    .content__titulo{
        display: flex;
        gap: 5px;
        margin-bottom: 15px;
    }
    .content__titulo h2{
        font-size: 28px;
        font-weight: 700;
    }
    .content__body{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .body__detalles{
        width: 65%;
    }
    .body__detalles p{
        margin-bottom: 10px;
    }
    .body__img{
        width: 30%;
    }
    .body__img img{
        width: 200px;
        height: 200px;
        border-radius: 10px;

    }
    @media (max-width:650px) {
        .content__titulo{
            justify-content: center;
        }
        .content__body{
        flex-direction: column;
        align-items: center;
        }
        .body__detalles{
            width: 100%;
            order: 2;
        }
        .body__img{
            width: 200px;
            order: 1;
        }
    }
 

</style>