---
import User from "../icons/user.astro";
---
<section>
    <div class="content__titulo">
        <User></User>
        <h2>Sobre mi</h2>
    </div>
    <div class="content__body">
        <div class="body__detalles">
            <p> Me llamo <span class="c-primario">Geider Frias</span> tengo 22 años y vivo en Argentina. Termine la tecnicatura de <span class="c-secundario"> Desarrollo de Videojuegos</span> y este año empece la tecnicatura de <span class="c-secundario">Desarrollo de Software</span>.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="c-secundario">Debitis, possimus natus repellat fugit mollitia tempore nemo laborum repudiandae unde beatae accusantium reiciendis quasi</span> , quis tempora adipisci provident! Accusantium, vel sint!
              Assumenda praesentium cum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, possimus natus repellat fugit mollitia tempore nemo laborum repudiandae unde beatae accusantium reiciendis quasi, quis tempora adipisci provident! <span class="c-secundario">Accusantium, vel sint!
                a praesentium cu</span>
            </p>
        </div>
        <div class="body__img">
            <img src="/images/body.webp" alt="cuerpo completo">
        </div>
    </div>
</section>
<style>
    section{
        padding: 10px;
    }
    .content__titulo{
        display: flex;
        gap: 5px;
        align-items: center;
        margin-bottom: 15px;
    }
    .content__titulo h2{
        font-size: 28px;
    }
    .content__body{
        display: grid;
        grid-template-areas: 
        "detalles  img"
        ;
        grid-template-columns: 1fr 300px;
        grid-template-rows: auto;
        gap: 30px;
    }
    .body__detalles{
        grid-area: detalles;
    }
    .body__detalles p{
        margin-bottom: 10px;
    }
    .body__img{
        grid-area:img;
    }
    .body__img img{
        width: 100%;
        height: 300px;
        border-radius: 10px;

    }
    @media (max-width:650px) {
        .content__body{
            grid-template-areas: 
            "img"
            "detalles";
            grid-template-columns: 1fr;
            gap:20px;
            justify-items: center;
        }

        .body__img img{ 
            height: 200px;
            width:300px
        }
    }
    @media (max-width:400px) {
        .content__titulo{
            justify-content: center;
        }
    }

</style>