---
import Header from '../components/header.astro';
import '@fontsource-variable/onest';
import Footer from "../components/footer.astro";
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
const colores = "#ececec";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-modoLight>
		<Header/>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root {}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		background-color: #575757;
		color: #ececec;
	}
	a{
		text-decoration: none;
		color: #ececec;
		display: inline-block;
        cursor: pointer;
	}
	h1,h2,h3,h4{
		margin: 0px;
	}
	p{
		font-size: 1rem;
		font-weight: 500;
		margin:0;
	}
	.modoLight{
		background-color: #e4e4e4;
		color: #222222;
	}
	.btnStatic{
		display: inline-block;
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 13px;
		background-color: #0380b1
	}
	.btnDinamic{
		display: inline-flex;
        align-items: center;
        gap: 3px;
		padding: 5px;
		border-radius: 10px;
		font-size: 1rem;
		cursor: pointer;
		background-color:#8a8a8ac9;
		border: 1px solid #b4b4b4c9;
	}
	.c-primario{
		color: #5ccda7;
	}
	.c-secundario{
        color: #dfa404e0;
	}
	.off{
		display:none;
	}

	#header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}

</style>
